.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dropdownGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1a1a1a;
}
